doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        block head
    body
        div(class = "icon-facebook")
        div(class = "icon-instagram")
        div(class = "icon-youtube")
        block content