doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        block head
    body
        div(class = "icon icon-facebook")
        div(class = "icon icon-instagram")
        div(class = "icon icon-twitter")
        div(class = "icon icon-soundcloud")
        div(class = "icon icon-gif-one" width=100)
        div(class = "icon icon-gif-two" width=100)
        block content