@font-face {
  font-family: "TestFont";
  src: url("../assets/fonts/glyphicons-halflings-regular.eot")
}

@font-face {
  font-family: "TestFontTTf";
  src: url("../assets/fonts/glyphicons-halflings-regular.ttf")
}

h1{
  color: #ffff00;
}