@import '../assets/dynamic-sprites/sprite-png.css';
@import '../assets/dynamic-sprites/sprite-gif.css';

@font-face {
  font-family: "TestFont";
  src: url("../assets/fonts/glyphicons-halflings-regular.eot")
}

@font-face {
  font-family: "TestFontTTf";
  src: url("../assets/fonts/glyphicons-halflings-regular.ttf")
}

h1{
  color: #ffff00;
}

.icon {
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}